<h3>Users</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %> signed up <%= user.created_at.to_date %> <%= link_to "Edit card", edit_card_path(user) %>
    </li>
  <% end %>
</ul
